<%= erb :"common/header" %>

<h1>Login</h1>

<form method="post" action="/login">

  <%= erb :"common/form_fields" %>

</form>

<p>If you don't have an account, you can <a href="/sign-up">sign-up</a>.</p>

<%= erb :"common/footer" %>
