<% @subtitle = "Delete Player" %>
<%= erb :"common/header" %>

<p class="error"><strong>Unknown player</strong></p>

<p class="navigation">Return to <a href="/search">Player Search</a>.</p>

<%= erb :"common/footer" %>