<html>
<head>
    <title>A Simple View</title>
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    <h1>Simple View Example</h1>

    <img src="images/tuos.png" width="200" />

    <p>Showing how to incorporate CSS and images into the
    pages of your web application.</p>
</body>
</html>