<html>
  <head>
    <title>Simple Form Example</title>
    <link rel="stylesheet" href="style/style.css">    
  </head>
  <body>
    <form method="get" action="/process-simple-form"> 
      <p>
        Add some text into this box and press "submit": <br />
        <input type="text" name="text_field" />
      </p>
      <p><input type="submit" value="Submit"></p>
    </form>
  </body>
</html>
